<!doctype html>
<html>
    <head>
        <title>Git Graph</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="styles/git-graph.css">
    </head>
    <body>
        <div id="container"></div>

        <script src="scripts/sigmajs/sigma.min.js"></script>
        <script src="scripts/sigmajs/plugins/sigma.parsers.json.min.js"></script>
        <script src="scripts/priority-queue.no-require.min.js"></script>
        <script src="scripts/sigma-renderers/edge.js"></script>
        <script src="scripts/sigma-renderers/commit.js"></script>

        <script src="scripts/git-graph.js"></script>
    </body>
</html>